body {
    background-color: black;
}

/* Setup general */
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.flag {
    flex: 1;
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
}

/* Setup palau flag */
.palau {
    background-color: #0085CA;
    position: relative;
}

.palau .circle {
    height: 120px;
    width: 120px;
    position: absolute;
    margin-left: -50px;
    background-color: #FFD100;
}

/* Setup laos flag */
.laos {
    background-color: #CE1126;
}

.laos > div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002868;
}

.laos .circle {
    height: 67px;
    width: 67px;
    background-color: white;
}

/* Setup japan flag */
.japan {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.japan .circle {
    height: 120px;
    width: 120px;
    background-color: #BC002D;
}

@media (max-width: 1050px) {
    .container {
        flex-direction: column;
    }
}